*,div {
    text-align: center;
    background-color: blanchedalmond;
}

p, h1, h2, h3, footer, header {
    font-family: 'Quicksand', sans-serif;

}

footer {
    font-size: xx-small;
}

h1 {
    font-size: 4em;
}

div.title {
    border-bottom:3px solid #000000;

    padding: 20px;
    width: 400px;
    height: 170px; 
    margin: 0 auto;
    display: flex;
    align-items: center;
    
}

a.title {
    text-decoration: none;
    color: black;
}