
html {
    text-align: center;
    background-color: blanchedalmond;

    font-family: 'Quicksand', sans-serif;

}

footer {
    font-size: xx-small;
    padding: 20px;
    margin: 20px;
    border-top: 2px solid #000000;
    width:30%;
    margin-left: auto; margin-right: auto;
}

h1 {
    font-size: 4em;
}

#title {
    margin:auto;
}

nav.menu{
    border-bottom: 2px solid black; width: 30%; margin: auto;
}

ol.menu{
    list-style-type: none;
    padding-left: 0;
}

li.navLink{
    display: inline-block;
}
a{
    color: #000;
    text-decoration: underline solid #000000;

}



.code {
	display: inline-block;
	border: 2px solid #4d4d4d;
	height: auto;
	font-family: "Lucida Console",Courier,monospace;
    font-size: small;
	background: #4d4d4d;
	border-radius: 10px;
	color: yellow;
	text-align: left;
	
}

#profile{
    height: 216px; width: 216px; border:2px solid black; padding:20px; border-radius: 10px;
    margin-top: 20px;
}

p {
	width:400px;;
	padding: 20px;
	margin: 0 auto;
	
}
