/*GENERAL FORMATTING*/
html {
    background-color: #D0F4DE;
    font-family: 'Quicksand', sans-serif;
}

a{
    color: inherit;
    text-decoration: underline solid inherit;
}

div.code {
	display: inline-block;
	border: 2px solid #1F7A8C;
	height: auto;
	font-family: "Lucida Console",Courier,monospace;
    font-size: small;
	background: #1F7A8C;
	border-radius: 10px;
	color: #FCF6BD;
	text-align: left;
    padding: 20px;
	
}







/*HEADER AREA*/
    .header {
        grid-area: header; 
        background-color: #ACEDFF;
    }

    .headerMain{
        grid-area: headermain;
    }


    h1 {
        font-size: 4em;
    }

    
    a.divLink {
        
        text-decoration: none;
        

    }

    #title {
        margin: 0;
        
    }
    #miniTitle {
        float:left;
        
        margin-top:10px;
        margin-left: 20px;
        padding: 0%;
    }

    #profileMain {
        height: 200px; width: 200px; border:2px solid black; padding:0px; border-radius: 200px;
    }

    #profileMini {
        height: 50px; width: 50px; border:2px solid black; padding:0px; border-radius: 200px;
        float: left;
    }






/*NAVIGATION AREA*/
    .nav{
        grid-area: nav;border-bottom: 2px solid black ; padding-bottom: 20px;
        align-items: center;
        margin: auto; 
    }
    
    
    ol.menu{
        list-style-type: none;
        padding-left: 0;
        
    }

    li.navLink{
        display: inline-block;
    }





/*CONTENT AREA*/
    .content{
        grid-area: content;
        padding: 20px;
        margin: 20px;
        text-align: center;
    }

    .block {
        background-color: #A9DEF9   ;
        color: #262626;
        border: 0px;
        border-radius: 20px;
    }





/*FOOTER AREA*/
    .ft {
        grid-area: footer;
        font-size: xx-small;
        padding: 20px;
        margin: 20px;
        width: auto;

        color:  #262626;
        
    }





/*SITE CONTAINER*/
    div.bodyContainer{
        width: 80%;margin-left: auto; margin-right: auto;
        display: grid;
        gap: 30px;
        text-align: center;
        align-items: center;
        justify-content: center;
        padding: 0;



    /*LAYOUT*/
    grid-template-areas: 
        "header  headermain ."
        "nav       nav        nav"
        "content content    content"
        "footer  footer     footer";
    
    }

/*OTHER*/

.backBtn {
    font-weight: bold;
    background: none;
    border: #262626 2px solid;
    
}