/*GENERAL FORMATTING*/
html {
    background-color: blanchedalmond;
    font-family: 'Quicksand', sans-serif;
}

a{
    color: inherit;
    text-decoration: underline solid inherit;
}

.code {
	display: inline-block;
	border: 2px solid #4d4d4d;
	height: auto;
	font-family: "Lucida Console",Courier,monospace;
    font-size: small;
	background: #4d4d4d;
	border-radius: 10px;
	color: yellow;
	text-align: left;
	
}






/*HEADER AREA*/
    .header {
        grid-area: header; 
    }

    .headerMain{
        grid-area: headermain;
    }


    h1 {
        font-size: 4em;
    }

    
    a.divLink {
        
        text-decoration: none;
        

    }

    #title {
        margin: 0;
        
    }
    #miniTitle {
        float:left;
        
        margin-top:10px;
        margin-left: 20px;
        padding: 0%;
    }

    #profileMain {
        height: 200px; width: 200px; border:2px solid black; padding:0px; border-radius: 200px;
    }

    #profileMini {
        height: 50px; width: 50px; border:2px solid black; padding:0px; border-radius: 200px;
        float: left;
    }





/*NAVIGATION AREA*/
    .nav{
        grid-area: nav;border-bottom: 2px solid black ; padding-bottom: 20px;
        align-items: center;
        margin: auto; 
    }
    

    ol.menu{
        list-style-type: none;
        padding-left: 0;
        
    }

    li.navLink{
        display: inline-block;
    }





/*CONTENT AREA*/
    .content{
        grid-area: content;
        padding: 20px;
        margin: 20px;
    }





/*FOOTER AREA*/
    .ft {
        grid-area: footer;
        font-size: xx-small;
        padding-bottom: 20px;
        padding-top: 20px;
        margin-top: 20px;
        width:100%;
        margin-left: auto; margin-right: auto;
        color: whitesmoke;
        background-color: #0d1821;
    }





/*SITE CONTAINER*/
    div.bodyContainer{
        width: 100%;margin-left: auto; margin-right: auto;
        display: grid;
        gap: 10px;
        text-align: center;
        padding: 0;



    /*LAYOUT*/
    grid-template-areas: 
        "header  headermain ."
        "nav       nav        nav"
        "content content    content"
        "footer  footer     footer";
    
    }

/**/