/*General Text Styling*/
:root {
    font-family: 'Plus Jakarta Sans', 'Quicksand','Trebuchet MS', sans-serif, 'Libre Barcode 39 Text';
    min-height: 100%;
}

html, body { min-height: 100vh; }

/*Page Structure*/

body {
    margin: 0px;

}

body.main-page {
    margin: 0px;
    height: 100%;
    display: grid;
    grid-template-rows: 15fr 85fr;
    
}

main {
    margin: 20px;
}

main.columns {
    margin: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap:10px;

}

div.column {
    display: flex;
    height: 100%;
    border: 1px black dotted;
    border-radius: 10px ;
    padding: 15px;
    justify-content: center;
    align-items: center;
}




/*Heading*/
header {
    border-bottom: black 1px dashed;
    padding:30px;
    padding-right: 0;
    margin-bottom: 10px;
    position: relative;
    max-height: 15%;

    
    
}

#title {
    display: inline;
    font-family: 'Quicksand','Trebuchet MS', sans-serif, 'Libre Barcode 39 Text';
}

    /*Navigation*/
    nav{
        display: inline;
        float: right;
        padding: 9px;
        position: relative;
        margin-top: auto;
        margin-bottom: auto;
        padding-right: 20%;
        width: 40%;
        line-height: 100%;
        transform: translate(0,-9px);
    }

    a.navlink{
        text-decoration: none;
        padding: 10px;
        font-weight: normal;
        width: 100%;
        text-align: center;
        font-weight: lighter;
    }

    div.navlink {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        position: relative;
    }


    a.navlink:hover{
        font-weight: normal; 
    }

    a.navlink:visited {

    }

/*Buttons*/
@keyframes slightSquish{
    0%{transform: scaleX(1.01) scaleY(0.987) rotate(-1deg);}
    25%{rotate: 0deg;}
    50%{transform: scaleX(0.99) scaleY(1.013) rotate(1deg);}
    75%{rotate: 0deg;}
    100%{transform: scaleX(1.01) scaleY(0.987) rotate(-1deg);}
}

button:not(.deanimate) {
    padding: 1.8em;
    padding-top: 1.3em;
    padding-bottom: 1.3em;
    margin: 1em;
    border: 3px solid black;
    border-radius: 1em;
    --background-color:rgb(255, 72, 169);
    font-family: 'Plus Jakarta Sans', 'Quicksand','Trebuchet MS', sans-serif, 'Libre Barcode 39 Text';

    background-color: var(--background-color);

    transition: transate 0.5s, box-shadow 0.5s; 
    translate: 1em, -1em;
    
    animation: slightSquish 1s ease-in-out 0.5s infinite none;

}


button:hover:not(.deanimate){
    box-shadow: -0.3em 0.3em 0 0 rgba(0, 0, 0, 0.4),-0.3em 0.3em 0 0 var(--background-color),-0.3em 0.3em 0 0.125em rgba(0, 0, 0, 1);
    cursor:pointer;   
}

button:active:not(.deanimate) {
    box-shadow: -0.1em 0.1em 0 0 rgba(0, 0, 0, 0.4),-0.1em 0.1em 0 0 var(--background-color),-0.1em 0.1em 0 0.125em rgba(0, 0, 0, 1);
    animation: slightSquish 3s ease-in-out 0.5s infinite none;
}

/*To remove the squish animation, siply add the deanimate class to your button*/

button.deanimate {
    padding: 1.8em;
    padding-top: 1.3em;
    padding-bottom: 1.3em;
    margin: 1em;
    border: 3px solid black;
    border-radius: 1em;
    --background-color:rgb(255, 72, 169);
    font-family: 'Plus Jakarta Sans', 'Quicksand','Trebuchet MS', sans-serif, 'Libre Barcode 39 Text';

    background-color: var(--background-color);

    transition: transate 0.5s, box-shadow 0.5s; 
    translate: 1em, -1em;
}

button.deanimate:hover{
    box-shadow: -0.3em 0.3em 0 0 rgba(0, 0, 0, 0.4),-0.3em 0.3em 0 0 var(--background-color),-0.3em 0.3em 0 0.125em rgba(0, 0, 0, 1);
    cursor:pointer;   
}

button.deanimate:active {
    box-shadow: -0.1em 0.1em 0 0 rgba(0, 0, 0, 0.4),-0.1em 0.1em 0 0 var(--background-color),-0.1em 0.1em 0 0.125em rgba(0, 0, 0, 1);
}

/*Links*/
/*To make a link not have the link emoji before it, add a linkless class to it*/
a:not(.linkless)::before {
    content: '🔗';
    
    
}

a{
    text-decoration: none;
    color:cornflowerblue;
}


/*
Info from: cssgradient.io/blog/css-gradient-text
Adapted by: Isaac Sussman @ isaacsussman.github.io
*/

/*Gradient text backgrounds*/
.gradienttext{
    
    background: linear-gradient(90deg,rgb(13, 255, 0),blue);

    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    fill: transparent;  
}

@keyframes cycling {
    0%{background-position: 0% 50%}
    66%{background-position: 100% 50%}
    100%{background-position: 133% 50%}
    

}
.gradienttext.cycling {
    animation: 3s linear infinite normal cycling;
    background: linear-gradient(90deg,rgb(13, 255, 0),blue,rgb(13, 255, 0));
    background-size: 400%;
    background-repeat:repeat-x ;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    fill: transparent;  
    
}