/*General Text Styling*/
:root    {
    font-family: 'Plus Jakarta Sans', 'Quicksand','Trebuchet MS', sans-serif, 'Libre Barcode 39 Text';

}

body {
    margin: 0px;
}

main {
    margin: 20px;
}

/*
Info from: cssgradient.io/blog/css-gradient-text
Adapted by: Isaac Sussman @ isaacsussman.github.io
*/
.gradienttext{
    
    background: linear-gradient(90deg,rgb(13, 255, 0),blue);

    background-clip: text;
    color: transparent;
    fill: transparent;  
}

@keyframes cycling {
    0%{background-position: 0% 50%}
    66%{background-position: 100% 50%}
    100%{background-position: 133% 50%}
    

}
.gradienttext.cycling {
    animation: 3s linear infinite normal cycling;
    background: linear-gradient(90deg,rgb(13, 255, 0),blue,rgb(13, 255, 0));
    background-size: 400%;
    background-repeat:repeat-x ;
    background-clip: text;
    color: transparent;
    fill: transparent;  
    
}



/*Heading*/
header {
    border-bottom: black 1px dashed;
    padding:30px;
    padding-right: 0;
    margin-bottom: 10px;
    
    
}

#title {
    display: inline;
    
}

    /*Navigation*/
    nav{
        display: inline;
        float: right;
        padding: 9px;
        margin-top: auto;
        margin-bottom: auto;
        padding-right: 20%;
    }

    a.navlink{
        text-decoration: none;
        padding: 10px;
    }

    div.navlink {
        display: flex;
        flex-direction: row;
        width: fit-content;
        justify-content: space-around;
    }

    a.navlink{
        
        font-weight: normal;
    }

    a.navlink:hover{
        font-weight: bold;
    }

    a.navlink:visited {
        font-weight: lighter;
        
    }

/*Buttons*/
@keyframes slightSquish{
    0%{transform: scaleX(1.01) scaleY(0.987) rotate(-1deg);}
    25%{rotate: 0deg;}
    50%{transform: scaleX(0.99) scaleY(1.013) rotate(1deg);}
    75%{rotate: 0deg;}
    100%{transform: scaleX(1.01) scaleY(0.987) rotate(-1deg);}
}
button {
    padding: 1.8em;
    padding-top: 1.3em;
    padding-bottom: 1.3em;
    margin: 1em;
    border: 3px solid black;
    border-radius: 1em;
    --background-color:rgb(255, 72, 169);
    font-family: 'Plus Jakarta Sans', 'Quicksand','Trebuchet MS', sans-serif, 'Libre Barcode 39 Text';

    background-color: var(--background-color);

    transition: transate 0.5s, box-shadow 0.5s; 
    translate: 1em, -1em;
    
    animation: slightSquish 1s ease-in-out 0.5s infinite none;

}


button:hover{
    box-shadow: -0.3em 0.3em 0 0 rgba(0, 0, 0, 0.4),-0.3em 0.3em 0 0 var(--background-color),-0.3em 0.3em 0 0.125em rgba(0, 0, 0, 1);
    cursor:pointer;   
}

button:active {
    
}

/*Links*/
/*To make a link not have the link emoji before it, add a linkless class to it*/
a:not(.linkless)::before {
    content: '🔗';
    
    
}

a{
    text-decoration: none;
    color:cornflowerblue;
}


/**/